body{
    width: 100px;
    height: 100px;
    background: linear-gradient(135deg,#6027e3,#e297ff) ; 
    color: rgb(255, 255, 255);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
  .todo {
   position: absolute;
   transform: translate(-50% ,-50%);
   top: 50%;
   left: 50%;
 }
  
  .container{
  width: 70vmin;
  height: 70vmin;
  display: flex;
  flex-wrap: wrap ;
  gap: 2vmin
   ;
  }

  h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    align-items: center;
  }

  h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    align-items: center;
  }

 .td{
  background: white;
  height: 22vmin;
  width: 22vmin;
  border: none;
  border-radius: 6px;
  font-size: 12vmin;
  color: rgb(194, 192, 192);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1 );
 }

 #btn{
  font-size: 0.7em;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  padding: 1em;
  border-radius: 6px;
  color: #ffffff;
  background-color: #db82fe;
  position: relative;
  margin:  1em auto;
  display: block;
  border: none;
 }